{% extends 'layout.html' %}

{% block title %}
    Acerca de - Mi Blog
{% endblock %}

{% block content %}
    <h1>Acerca de</h1>
    <p>
        Bienvenido a <strong>Mi Blog</strong>. Este sitio está dedicado a compartir artículos interesantes sobre diversos temas, desde tecnología hasta desarrollo personal. Aquí encontrarás contenido creado con pasión, pensado para inspirar y educar a nuestros lectores.
    </p>
    <p>
        Soy Rony Trespalacios, el autor detrás de este blog. Con una trayectoria en Ingeniería Electrónica y programación, me dedico a compartir mis conocimientos y experiencias con el objetivo de ayudar a otros en su camino. Espero que disfrutes del contenido y te animo a que te unas a la conversación dejando tus comentarios y opiniones.
    </p>
    <p>
        Gracias por visitar <strong>Mi Blog</strong>. ¡Espero que encuentres algo que te inspire!
    </p>
{% endblock %}
